<h1>
    Home
</h1><br>
<p>
    Hai <%= user.name %> Selamat Datang Di Zox Hosting Jika Ingin Membeli
</p>
<div class="cheap">
    <h2>Cheap Hosting</h2>
</div>

<style>
    h1{
        position: relative;
        float: right;
        right: 50%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p {
        position: relative;
        float: right;
        top: 10%;
        right: 26.5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    .cheap{
        position: relative;
        float: right;
        right: 2%;
        top: 18.5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>