<html>
    <head>
        <style>
            *, body{
                margin: 0;
                padding: 0;
            }
            nav {
                position: relative;
                width: 100%;
                height: 60px;
                background-color: #fff;
                box-shadow: -1px -7px 20px 0px #878;
            }
            nav ul{
                position: relative;
                top: 20px;
                margin: 0;
                float: left;
                left: 37.5%;
            }
            nav ul li{
                float: right;
                display: block;
                margin: 0px 15px 0px 15px;
            }
            nav ul li a{
                text-decoration: none;
                color: #888;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            nav ul li a:hover{
                color: rgb(162, 224, 243);
                font-size: 18px;
            }
        </style>
        <title>Zox Hosting</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="users/register">Register</a></li>
                <li><a href="users/login">Login</a></li>
                <li><a href="dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </body>
</html>